POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=internship_management
JWT_SECRET=replace-with-a-long-random-secret
PGADMIN_EMAIL=admin@internship-management.com
PGADMIN_PASSWORD=Demo123!
POSTGRES_PORT=5433
BACKEND_PORT=8082
FRONTEND_PORT=4200
PGADMIN_PORT=5050
FRONTEND_ORIGIN=http://localhost:4200
